@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');

body {
    margin: 0;
    background: #222;
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
}

.nav_container {
    width: 90%;
    margin: 0 auto;
}

header {
    background: #ab785a;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    position: relative;
    float: left;
    padding: 10px 0;
    height: 5vh;
    margin-left: 5%;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 50px;
    padding-top: 25px;

    position: relative;
}

nav a {
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

nav a:hover {
    color: #000;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: #444;

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}

nav ul li a.active {
    color: wheat;
    /* Color when link is active */
}


.search input {
    border: 0;
    border-radius: 4px;
    outline: 0;
    width: 250px;
    /* Sets the width of the input field */
    margin-left: 5%;

}

.search * {
    position: relative;
    padding-top: 100px;
    align-items: center;
    top: 10px;

    height: 40px;
    /* Sets the height of the input field */
    font-size: 20px;
    /* Increases the font size inside the input field */
    padding: 5px 10px;
}

img.intro {
    max-width: 100%;
    object-fit: contain;

}

.categories {
    margin: 50px 0;
    text-align: center;
}

.category-list {
    display: flex;
    justify-content: center;
    gap: 50px;

}

.category-item {
    height: 300px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.category-item img {
    width: auto;
    height: 100%;
    border-radius: 8px;

}

.category-item:hover {
    transform: scale(1.05);
    /* Scales up the div */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    /* Adds a shadow effect */

}

.category-item h3 {
    margin: 0;
    margin-top: 10px;
    /* Space between image and text */
    color: #8c7474;
    /* Text color */
}

.container {
    display: flex;
    flex-wrap: wrap;
    -ms-flex-item-align: baseline;
    gap: 20px;
    /* Space between the menu and products */
    flex-wrap: nowrap;
    flex-direction: row;
}

.menu {
    flex: 0 0 150px;
    /* Fixed width of 200px, does not grow or shrink */
    min-width: 200px;
    /* Minimum width, identical to flex-basis for clarity */
    margin-left: 12px;
}

.menu ul {
    list-style: none;
    padding: 0;
}


.products {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    /* Space between products */
}

.product {
    flex: 0 0;
    /* Does not grow or shrink, fixed basis of 300px */
    /* Strict width of 300px */
    /* Strict height of 300px */
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
    /* Include padding in the width and height */
    color: aliceblue;
}

.product img {
    height: 250px;
    width: 250px;
    object-fit: contain;
    border-radius: 5px;
}