@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');

body {
    margin: 0;
    background: #222;
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
    color: white;
}

.nav_container {
    width: 90%;
    margin: 0 auto;
}

header {
    background: #ab785a;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    position: relative;
    float: left;
    padding: 10px 0;
    height: 5vh;
    margin-left: 5%;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 50px;
    padding-top: 25px;

    position: relative;
}

li>a {
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

li>a:hover {
    color: #000;
}

li>a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: #444;

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 250ms;
}

li>a:hover::before {
    width: 100%;
}



.search input {
    border: 0;
    border-radius: 4px;
    outline: 0;
    width: 250px;
    margin-left: 5%;

}

.search * {
    position: relative;
    padding-top: 100px;
    align-items: center;
    top: 10px;

    height: 40px;

    font-size: 20px;
    padding: 5px 10px;
}

img.intro {
    max-width: 100%;
    object-fit: contain;

}

.test {
    display: block;
    text-align: center;
}

.test div {
    display: inline-block;
}

.categories {
    margin: 50px 0;
    text-align: center;

}
.categories h2 {
    color: #ab785a;
}
.category-list {
    display: flex;
    justify-content: center;
    gap: 50px;

}

footer {
    background-color: #463f3a;
    color: white;
    text-align: center;
    padding: 10px;

    max-width: 100vw;
}

footer p {
    font-size: 1em;
}


.category-item {
    height: 300px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.category-item img {
    width: auto;
    height: 100%;
    border-radius: 8px;

}

.category-item:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);

}

.category-item h3 {
    margin: 0;
    margin-top: 10px;
    color: white;
}

#coffee-accessories-intro {
    padding: 20px;
    text-align: center;
}

#coffee-accessories-intro .intro_container {
    max-width: 1200px;
    margin: 0 auto;
}

#coffee-accessories-intro h1 {
    color: #AF8260;
    margin-bottom: 10px;
}

#coffee-accessories-intro p {
    font-size: 16px;
    line-height: 1.6;
}


.features {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.feature {
    width: 30%;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(103, 95, 95, 0.1);
    border-radius: 5px;
    background: #372828;
}
.feature h3{
    color: #AF8260;
}



.feature p {
    font-size: 14px;
}


.container {
    display: flex;
    flex-wrap: wrap;
    -ms-flex-item-align: baseline;
    gap: 20px;
    flex-wrap: nowrap;
    flex-direction: row;
}

.menu {
    flex: 0 0 250px;
    min-width: 250px;
    margin-left: 12px;
}
.menu h4 {
    color: #AF8260;
}
.menu ul {
    list-style: none;
    padding: 0;
}


.products {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.product {
    flex: 0 0;

    padding: 20px;
    text-align: center;
    box-sizing: border-box;

    color: aliceblue;
}

.product img {
    height: 250px;
    width: 250px;
    object-fit: contain;
    border-radius: 5px;
    cursor: pointer;
}

.product button,
header button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.product button:hover,
header button:hover {
    background-color: #45a049;
}

.cart-icon {
    position: relative;
    display: inline-block;
}

.cart-details {
    display: none;
    position: absolute;
    right: 0;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background-color:#372828;
    z-index: 1;
    width: 300px;
    padding: 10px;
    border-radius: 5px;
}

.cart-icon:hover .cart-details {
    display: block;
}

.promo {
    background-color: #deb887;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}

.reviews-container {
    margin: 20px auto;
    padding: 20px;
    display: flex;
    gap: 1%;
    flex-wrap: wrap;
}

.review {
    margin: 2%;
    padding: 10px;
    width: 250px;
    height: auto;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.review img {
    height: 50px;
    width: auto;
    margin-left: 35%;
    object-fit: scale-down;
}


.review h2 {
    text-align: center;
}

.hero {
    text-align: center;
    margin: 5%;
}

.hero h1 {
    font-size: 2.5em;
    color: #ab785a;
}



.hero figure {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;

}

.hero figure img {
    position: relative;
    border-radius: 25px;
    width: 80%;
    height: 50vh;
    object-fit:cover;
}



figure figcaption {
    color: #463f3a;
    position: absolute;
    top: 15%;
    left: 18%;
    display: block;
    width: 25%;
    height: 30%;
}

.imgnexttotext {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 3%;
    justify-content: center;
    margin: 5%;
}


.imgnexttotext div {
    width: 30%;
    font-size: x-large;
}

.imgnexttotext img {
    max-width: 50%;
    border-radius: 10px;
}

.imgnexttotext div h3{
    color: #ab785a;
}
.checkout-container {
    background-color: #372424;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.checkout-container .form-group {
    text-align: center;
    margin: 3%;
}

#cart-items-list li{
    display: flex;
    justify-content: start;
    margin: 2%;
}
#cart-items-list li img {
    height: 100px;
    width: auto;
}
.checkout-container p {
    text-align: end;
}
.checkout-container h2 {
    text-align: center;
}
#cart-items-list span {
    margin: 1%;
}


a {
    cursor: pointer;
}



@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }

  .hero {
    animation: fadeIn 2s ease-in-out;
  }



  #anime {
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    opacity: 0;
    transform: translateY(50px);
  }