@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');

body {
  margin: 0;
  background: #222;
  font-family: 'Work Sans', sans-serif;
  font-weight: 800;
}

header {
  background: #ab785a;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  position: relative;
  float: left;
  padding: 10px 0;
  height: 5vh;
  margin-left: 5%;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 50px;
  padding-top: 25px;

  position: relative;
}

li > a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

li > a:hover {
  color: #000;
}

li > a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

li > a:hover::before {
  width: 100%;
}

nav ul li a.active {
  color: wheat;
  /* Color when link is active */
}


.search input {
  border: 0;
  border-radius: 4px;
  outline: 0;
  width: 250px;
  /* Sets the width of the input field */
  margin-left: 5%;

}

.search * {
  position: relative;
  padding-top: 100px;
  align-items: center;
  top: 10px;

  height: 40px;
  /* Sets the height of the input field */
  font-size: 20px;
  /* Increases the font size inside the input field */
  padding: 5px 10px;
}

body,
html {
  width: 100%;
  height: 100%;
}


/* Footer */
footer {
  background-color: #463f3a;
  color: white;
  text-align: center;
  padding: 10px;

  max-width: 100vw;
}

footer p {
  font-size: 1em;
}




.categories {
  margin: 20px 0;
  text-align: center;
}

.category-list {
  display: flex;
  justify-content: center;
  gap: 50px;

}

.nav_container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.category-item {
  height: 300px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 10px;
  text-align: center;
  border-radius: 10px;
  /* Rounded corners */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  /* Smooth transitions for transform and shadow */
  cursor: pointer;
  /* Indicates this is clickable */
}

.category-item img {
  width: auto;
  height: 100%;
  /* Keep the image aspect ratio */
  border-radius: 8px;
  /* Rounded corners for the image */

}

.category-item:hover {
  transform: scale(1.05);
  /* Scales up the div */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  /* Adds a shadow effect */

}

.category-item h3 {
  margin: 0;
  margin-top: 10px;
  /* Space between image and text */
  color: #8c7474;
  /* Text color */
}



.promo {
  background-color: #deb887;
  color: white;
  padding: 20px;
  text-align: center;
  margin-top: 20px;
}

.reviews-container {
  margin: 20px auto;
  padding: 20px;
  display: flex;
  gap: 1%;
  flex-wrap: wrap;
}

.review {
  margin: 2%;
  padding: 10px;
  width: 250px;
  height: auto;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.review img {
  height: 50px;
  width: auto;
  margin-left: 35%;
  object-fit: scale-down;
}

.review-text {
  color: #705b5b;
}

.review-author {
  color: #7c6868;
}

.review h2 {
  text-align: center;
  color: #0f4c81;
}

.hero {
  color: rgb(255, 255, 255);
  text-align: center;
}

.hero h1 {
  font-size: 2.5em;
}

.hero p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

figure {
  position: relative;
  justify-content: center;
  align-items: center;

}

figure img {
  position: relative;
  border-radius: 25px;
  width: 80%;
  object-fit: contain;

}
.mas {
  display: flex;
  justify-content: center;
  align-items: center;
}

figure figcaption {
  color: aliceblue;
  position: absolute;
  top: 15%;
  left: 5%;
  display: block;
  width: 30%;
  height: 30%;
}

.imgnexttotext {
  display: flex;
  align-items: center; /* Vertically align items */
  gap: 20px;
}

/* Style the image and text as needed */
img {
  max-width: 100%; /* Ensure the image doesn't overflow */
  border-radius: 10px;
  /* Add other image styles here */
}

.imgnexttotext  div {
  margin-left: 30px; /* Adjust spacing between image and text */
  margin-right: 30px; /* Adjust spacing between image and text */

  /* Add other text styles here */
  width: 35%;
  font: optional;
}
.cart-icon {
  position: relative;
  display: inline-block;
}

.cart-details {
  display: none; /* Initially hidden */
  position: absolute;
  right: 0;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  z-index: 1;
  width: 300px; /* Adjust as necessary */
  padding: 10px;
}

.cart-icon:hover .cart-details {
  display: block; /* Show on hover */
}
.product button,header button {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.product button:hover,header button:hover  {
  background-color: #45a049;
}